<nav class="app-header navbar navbar-dark bg-app-header fixed-top">
  <a class="navbar-brand" [routerLink]="['/']">
    {{title}}
    <!-- <img src="assets/images/logo_komtrax_plus.png"> -->
  </a>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block" #headerDrop="ngbDropdown">
        <button type="button" class="btn btn-outline-light icon-button" id="dropdownMenu" ngbDropdownAnchor
          (mouseover)="onClick()" (click)="onClick()">
          <i class="fa fa-list"></i> {{userName}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenu">
          <div class="user-menu">
            <app-header-drop-down [title]="'User Profile'" [icon]="'fa-user'"></app-header-drop-down>
          </div>
          <div>
            <app-header-drop-down [title]="'App1'" [icon]="'fa-users'"></app-header-drop-down>
            <app-header-drop-down [title]="'App2'" [icon]="'fa-key'"></app-header-drop-down>
            <app-header-drop-down [title]="'App3'" [icon]="'fa-info-circle'"></app-header-drop-down>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>