<nav class="app-header navbar navbar-dark bg-app-header sticky-top">
  <a class="navbar-brand" [routerLink]="['/']">
    {{title}}
    <!-- <img src="assets/images/logo_komtrax_plus.png"> -->
  </a>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block" #headerDrop="ngbDropdown">
        <button type="button" class="btn btn-outline-light icon-button" id="dropdownMenu" ngbDropdownAnchor
          (mouseover)="headerDrop.open()">
          <i class="fa fa-list"></i> {{userName}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenu">
          <div class="user-menu">
            <button class="dropdown-item icon-button"><i class="fa fa-user"></i> User Profile</button>
          </div>
          <div>
            <button class="dropdown-item icon-button"><i class="fa fa-users"></i> App1</button>
            <button class="dropdown-item icon-button"><i class="fa fa-key"></i> App2</button>
            <button class="dropdown-item icon-button"><i class="fa fa-info-circle"></i> App3</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>