html {
  background: $app-background-color;
  height: 100%;
}

body {
  font-family: $app-font-family;
  height: 100%;
  background: none;
  font-size: $app-font-base-size !important;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container-fluid {
  padding-left: 65px; // サイドバー分のマージン
  margin: 0 auto;
  max-width: $app-container-max-witdth;
  position: relative;
}

li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // text-indent: 15px;
}

.clickable {
  cursor: pointer;
}

.flap-text {
  white-space: pre-wrap;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.accordion-body {
  padding: 1rem;
}

.accordion-footer {
  border-top: solid .01rem darkgray;
  padding: .5em;
}