html {
  background: $app-background-color;
  height: 100%;
}

body {
  font-family: $app-font-family;
  height: 100%;
  background: none;
  font-size: $app-font-base-size !important;
}

.container-fluid {
  padding-left: 60px; // サイドバー分のマージン
  margin: 0 auto;
  max-width: $app-container-max-witdth;
  position: relative;
}

li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // text-indent: 15px;
}

.clickable {
  cursor: pointer;
}
