// フォントファミリー
$app-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic, '\30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33', 'Hiragino Kaku Gothic ProN', Arial, '\30E1\30A4\30EA\30AA', Meiryo, sans-serif;

// 文字サイズ
$app-font-base-size: 14px;
$app-font-title-size: 16px;

// 色
// $app-theme-color: #0866c6;
$app-theme-color: #0e1271;
$app-font-color: white;
$app-background-color:#E8E8E8;
$app-content-background-color: white;
$app-side-bar-background: #404E67;

// 幅
$app-container-max-witdth: 1280px;
