<div *ngIf="pagerItem" class="row justify-content-end">
  <ngb-pagination class="align-self-center" [collectionSize]="pagerItem.total" [maxSize]=5 [(page)]="pagerItem.from"
    [pageSize]="pagerItem.count">
  </ngb-pagination>
  <select class="custom-select align-self-center" style="width: auto" [(ngModel)]="pagerItem.count">
    <option *ngFor="let count of pagerItem.displayCount" [ngValue]="count">{{count}}</option>
  </select>
</div>
<div class="app-table row">
  <div class="table-responsive">
    <table class="scroll-area table text-nowrap table-hover table-sm fixed-table">
      <thead>
        <tr>
          <th *ngFor="let column of headerRow.fixedColumns; let columnIndex = index" class="fixed-header text-center"
            [style.left]="fixedColumnPosition[columnIndex]">
            <div class="flap-text" [innerHTML]="column.value"></div>
          </th>
          <th *ngFor="let column of headerRow.variableColumns; let columnIndex = index" class="text-center">
            <div class="flap-text" [innerHTML]="column.value"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of dataRows; let rowIndex = index">
          <th *ngFor="let column of row.fixedColumns; let colIndex = index" [style.left]="fixedColumnPosition[colIndex]"
            class="fixed-body">
            <div class="flap-text" [innerHTML]="column.value"></div>
          </th>
          <td *ngFor="let column of row.variableColumns; let colIndex = index">
            <div class="flap-text" [innerHTML]="column.value"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>