@import '../../../../styles/styles';

div > select {
  margin-left: 1rem;
}

.custom-select {
  font-size: 1em;
}

::ng-deep .page-link {
  color: black;
}

::ng-deep .page-item.active .page-link {
  background-color: darkgray;
  border-color: darkgray;
  color: white;
}

.table {
  margin-bottom: 0;
}

.app-table {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
  .scroll-area {
    thead {
      th, td {
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        color: $app-theme-font-color;
        background-color: $app-theme-color;
        vertical-align: middle;
        font-weight: normal;
      }
      .fixed-header {
        z-index: 2;
      }
    }
    tbody th {
      position: -webkit-sticky;
      position: sticky;
      z-index: 1;
    }
    th, td {
      box-shadow: 0 0 0 0.2px #dee2e6 inset;
      background: #fff;
      border: none;
      font-weight: normal;
      vertical-align: middle;
    }
  }
}
