<div class="container-fluid">
  <app-accordion>
    <div data-accordion-body class="sample">
      <div class="row">
        <app-select-form class="col-md-4"></app-select-form>
        <app-select-form class="col-md-4"></app-select-form>
      </div>
    </div>
    <div data-accordion-footer>
      <app-button [title]="'検索'" class="row justify-content-center sample-accordion-footer"></app-button>
    </div>
  </app-accordion>
  <br>
  <app-table [properties]="properties" [items]="items" [rows]="rows"></app-table>
</div>