<div class="container-fluid">
  <br>
  <app-accordion>
    <div data-accordion-body class="accordion-body">
      <div class="row">
        <app-select-form class="col-md-4"></app-select-form>
        <app-select-form class="col-md-4"></app-select-form>
      </div>
    </div>
    <div data-accordion-footer class="accordion-footer">
      <app-button [title]="'検索'" class="row justify-content-center"></app-button>
    </div>
  </app-accordion>
  <br>
  <app-table [headerRow]="headerRow" [dataRows]="dataRows" [pagerItem]="pagerItem"></app-table>
</div>