@import '../../../../styles/styles';

.app-accordion {
  border-radius: 0;
  border: solid .1rem #ECECEC;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 .1rem .1rem rgba(0,0,0,.05);
}

.app-accordion-header {
  border-radius: .2rem .2rem 0 0;
  height: 3em;
  color: $app-font-color;
  border-color: $app-font-color;
  font-weight: bold;
  background: $app-theme-color;
  font-size: $app-font-title-size;
  text-shadow: none;
}

.app-accordion-body, .app-accordion-footer {
  padding: 1.25rem;
  background: $app-content-background-color;
}
