ul > li > a {
  border-radius: 0;
}

li a {
  display: block;
  text-decoration: none;
  color: #fff;
  span i {
    margin-left: -12px;
  }
}

li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-left: red 3px solid;
}

li a:active, li a:focus {
  text-decoration: none;
}

li.side-bar-item {
  text-indent: 15px;
  line-height: 40px;
}

ul {
  li {
    text-indent: 15px;
    line-height: 0;
    opacity: 0;
    animation: hide 0.5s ease 0s;
  }
}

ul {
  li.visible {
    text-indent: 15px;
    line-height: 40px;
    opacity: 1;
    animation: show 0.5s ease 0s;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 40px;
  }
}

@keyframes hide {
  0% {
    opacity: 0.5;
    height: 40px;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
