<nav class="app-header navbar navbar-dark fixed-top">
  <a class="navbar-brand clickable" (click)="onClickHome()">
    {{title}}
    <!-- <img src="assets/images/logo_komtrax_plus.png"> -->
  </a>
  <div class="row">
    <div class="col">
      <app-drop-down [icon]="'fa-list'" [title]="'コマツ太郎'" [buttonStyle]="'btn-outline-light'" [isOnMouseOpen]=true>
        <div data-drop-down-menu>
          <div class="user-menu">
            <app-anchor [item]="userProfile"></app-anchor>
          </div>
          <div>
            <app-anchor [item]="app1"></app-anchor>
            <app-anchor [item]="app2"></app-anchor>
            <app-anchor [item]="app3"></app-anchor>
          </div>
        </div>
      </app-drop-down>
    </div>
  </div>
</nav>