
@import '../../../../styles/styles';

.app-header {
  background-color: $app-theme-color;
  color: $app-font-color;
  font-weight: bold;
}

// ドロップダウンメニューの下矢印を消す
.dropdown-toggle::after {
  display: none;
}

.user-menu {
  border-bottom: 1px solid darkgray;
}

.dropdown-item {
  border-bottom: 1px solid #F0F0F0;
}
