@import '../../../../styles/styles';

#app-side-bar {
  padding-top: 56px;  // ヘッダの高さ分のマージン
  padding-left: 0;
  transition: all 0.5s ease;
  overflow: hidden;
  // サイドナビの内側
  #app-side-bar-inside {
    position: fixed;
    z-index: 1051;
    width: 250px;
    left: 250px;
    margin-left: -250px;
    width: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: $app-theme-color;
    transition: all 0.5s ease;
    // 表示するリスト
    .sidebar-nav {
      position: absolute;
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
  // マウスオーバー時の挙動
  &.hovering #app-side-bar-inside {
    width: 50px;
    &:hover {
      width: 250px;
    }
  }
  // ボタンによる開閉
  &.toggled #app-side-bar-inside {
    width: 250px;
  }
}
